In [1]:
# read and write using pandas

In [2]:
import os

In [3]:
# get the current working directory
os.getcwd()

'/Users/shwethamg/Workspace/Learning_Material/AG/Course/BT/Pandas-1'

In [4]:
#change current working directory
path="/Users/shwethamg/Desktop/Learning_Material/AG/Course/BT/Pandas-1"
os.chdir(path)

FileNotFoundError: [Errno 2] No such file or directory: '/Users/shwethamg/Desktop/Learning_Material/AG/Course/BT/Pandas-1'

In [ ]:
# list down all objects in the current working directory
os.listdir(path)

In [ ]:
import pandas as pd

draft1 = pd.read_csv('test.csv')    # Supply the file name (path)

draft1.head(1)                           # Check the first 6 rows

In [ ]:
draft2 = pd.read_table('test.tsv')  # Read a tsv into a DataFrame

draft2.head(6)                           # Check the first 6 rows

In [ ]:
draftz = pd.read_excel('test_.xlsx')  # Read a tsv into a DataFrame

draftz.head(1)

In [ ]:
draft3 = pd.read_excel('test_.xlsx',        # Path to Excel file
                       sheetname = 'Sheet1') # Name of sheet to read from

draft3.head(6)                            # Check the first 6 rows

In [ ]:
# Go to http://www.basketball-reference.com/leagues/NBA_2015_totals.html
# click the CSV button and then copy some data to the clipboard

BB_reference_data = pd.read_clipboard(sep=",")  # Read data from the clipboard

BB_reference_data.ix[:, 0:15].head(15)   # Check 5 rows (10 columns only)

In [ ]:
url = "http://www.basketball-reference.com/leagues/NBA_2015_totals.html"

BB_data = pd.read_html(url)         # Read data from the specified url

BB_data[0].ix[:, 0:10].head(5)      # Check 5 rows (10 columns only)

In [ ]:
#save data to 
BB_reference_data.to_csv("bb_data.csv") 

os.listdir(path)

In [6]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
titanic_train = pd.read_csv("https://gist.githubusercontent.com/michhar/2dfd2de0d4f8727f873422c5d959fff5/raw/ff414a1bcfcba32481e4d4e8db578e55872a2ca1/titanic.csv",
                           sep='\t')

In [8]:
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
titanic_train.shape

(156, 12)

In [10]:
titanic_train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [11]:
print( titanic_train.describe() )

       PassengerId    Survived      Pclass         Age       SibSp  \
count   156.000000  156.000000  156.000000  126.000000  156.000000
mean     78.500000    0.346154    2.423077   28.141508    0.615385
std      45.177428    0.477275    0.795459   14.613880    1.056235
min       1.000000    0.000000    1.000000    0.830000    0.000000
25%      39.750000    0.000000    2.000000   19.000000    0.000000
50%      78.500000    0.000000    3.000000   26.000000    0.000000
75%     117.250000    1.000000    3.000000   35.000000    1.000000
max     156.000000    1.000000    3.000000   71.000000    5.000000

            Parch        Fare
count  156.000000  156.000000
mean     0.397436   28.109587
std      0.870146   39.401047
min      0.000000    6.750000
25%      0.000000    8.003150
50%      0.000000   14.454200
75%      0.000000   30.371850
max      5.000000  263.000000

In [59]:
categorical = titanic_train.dtypes[titanic_train.dtypes == "object"].index
print(categorical)

titanic_train[categorical].describe()

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

                                   Name   Sex  Ticket Cabin Embarked
count                               156   156     156    31      155
unique                              156     2     145    28        3
top     Andersson, Miss. Erna Alexandra  male  347082  C123        S
freq                                  1   100       2     2      110

In [63]:
del titanic_train["PassengerId"]     # Remove PassengerId

KeyError: 'PassengerId'

In [64]:
print(titanic_train)

     Survived  Pclass                                               Name  \
0           0       3                            Braund, Mr. Owen Harris
1           1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2           1       3                             Heikkinen, Miss. Laina
3           1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4           0       3                           Allen, Mr. William Henry
5           0       3                                   Moran, Mr. James
6           0       1                            McCarthy, Mr. Timothy J
7           0       3                     Palsson, Master. Gosta Leonard
8           1       3  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9           1       2                Nasser, Mrs. Nicholas (Adele Achem)
10          1       3                    Sandstrom, Miss. Marguerite Rut
11          1       1                           Bonnell, Miss. Elizabeth
12          0       3                     Saundercock, Mr. William Henry
13          0       3                        Andersson, Mr. Anders Johan
14          0       3               Vestrom, Miss. Hulda Amanda Adolfina
15          1       2                   Hewlett, Mrs. (Mary D Kingcome)
16          0       3                               Rice, Master. Eugene
17          1       2                       Williams, Mr. Charles Eugene
18          0       3  Vander Planke, Mrs. Julius (Emelia Maria Vande...
19          1       3                            Masselmani, Mrs. Fatima
20          0       2                               Fynney, Mr. Joseph J
21          1       2                              Beesley, Mr. Lawrence
22          1       3                        McGowan, Miss. Anna "Annie"
23          1       1                       Sloper, Mr. William Thompson
24          0       3                      Palsson, Miss. Torborg Danira
25          1       3  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
26          0       3                            Emir, Mr. Farred Chehab
27          0       1                     Fortune, Mr. Charles Alexander
28          1       3                      O'Dwyer, Miss. Ellen "Nellie"
29          0       3                                Todoroff, Mr. Lalio
..        ...     ...                                                ...
126         0       3                                McMahon, Mr. Martin
127         1       3                          Madsen, Mr. Fridtjof Arne
128         1       3                                  Peter, Miss. Anna
129         0       3                                 Ekstrom, Mr. Johan
130         0       3                               Drazenoic, Mr. Jozef
131         0       3                     Coelho, Mr. Domingos Fernandeo
132         0       3     Robins, Mrs. Alexander A (Grace Charity Laury)
133         1       2      Weisz, Mrs. Leopold (Mathilde Francoise Pede)
134         0       2                     Sobey, Mr. Samuel James Hayden
135         0       2                                 Richard, Mr. Emile
136         1       1                       Newsom, Miss. Helen Monypeny
137         0       1                        Futrelle, Mr. Jacques Heath
138         0       3                                Osen, Mr. Olaf Elon
139         0       1                                 Giglio, Mr. Victor
140         0       3                      Boulos, Mrs. Joseph (Sultana)
141         1       3                           Nysten, Miss. Anna Sofia
142         1       3  Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...
143         0       3                                Burke, Mr. Jeremiah
144         0       2                         Andrew, Mr. Edgardo Samuel
145         0       2                       Nicholls, Mr. Joseph Charles
146         1       3       Andersson, Mr. August Edvard ("Wennerstrom")
147         0       3                   Ford, Miss. Robina Maggie "Ruby"
148         0       2           Navratil, Mr. Michel ("Louis M Hoffman")
149         0       2                  Byles, Rev. Thomas Roussel Davids
150         0       2                         Bateman, Rev. Robert James
151         1       1                  Pears, Mrs. Thomas (Edith Wearne)
152         0       3                                   Meo, Mr. Alfonzo
153         0       3                    van Billiard, Mr. Austin Blyler
154         0       3                              Olsen, Mr. Ole Martin
155         0       1                        Williams, Mr. Charles Duane

        Sex   Age  SibSp  Parch              Ticket      Fare        Cabin  \
0      male  22.0      1      0           A/5 21171    7.2500          NaN
1    female  38.0      1      0            PC 17599   71.2833          C85
2    female  26.0      0      0    STON/O2. 3101282    7.9250          NaN
3    female  35.0      1      0              113803   53.1000         C123
4      male  35.0      0      0              373450    8.0500          NaN
5      male   NaN      0      0              330877    8.4583          NaN
6      male  54.0      0      0               17463   51.8625          E46
7      male   2.0      3      1              349909   21.0750          NaN
8    female  27.0      0      2              347742   11.1333          NaN
9    female  14.0      1      0              237736   30.0708          NaN
10   female   4.0      1      1             PP 9549   16.7000           G6
11   female  58.0      0      0              113783   26.5500         C103
12     male  20.0      0      0           A/5. 2151    8.0500          NaN
13     male  39.0      1      5              347082   31.2750          NaN
14   female  14.0      0      0              350406    7.8542          NaN
15   female  55.0      0      0              248706   16.0000          NaN
16     male   2.0      4      1              382652   29.1250          NaN
17     male   NaN      0      0              244373   13.0000          NaN
18   female  31.0      1      0              345763   18.0000          NaN
19   female   NaN      0      0                2649    7.2250          NaN
20     male  35.0      0      0              239865   26.0000          NaN
21     male  34.0      0      0              248698   13.0000          D56
22   female  15.0      0      0              330923    8.0292          NaN
23     male  28.0      0      0              113788   35.5000           A6
24   female   8.0      3      1              349909   21.0750          NaN
25   female  38.0      1      5              347077   31.3875          NaN
26     male   NaN      0      0                2631    7.2250          NaN
27     male  19.0      3      2               19950  263.0000  C23 C25 C27
28   female   NaN      0      0              330959    7.8792          NaN
29     male   NaN      0      0              349216    7.8958          NaN
..      ...   ...    ...    ...                 ...       ...          ...
126    male   NaN      0      0              370372    7.7500          NaN
127    male  24.0      0      0             C 17369    7.1417          NaN
128  female   NaN      1      1                2668   22.3583        F E69
129    male  45.0      0      0              347061    6.9750          NaN
130    male  33.0      0      0              349241    7.8958          NaN
131    male  20.0      0      0  SOTON/O.Q. 3101307    7.0500          NaN
132  female  47.0      1      0           A/5. 3337   14.5000          NaN
133  female  29.0      1      0              228414   26.0000          NaN
134    male  25.0      0      0          C.A. 29178   13.0000          NaN
135    male  23.0      0      0       SC/PARIS 2133   15.0458          NaN
136  female  19.0      0      2               11752   26.2833          D47
137    male  37.0      1      0              113803   53.1000         C123
138    male  16.0      0      0                7534    9.2167          NaN
139    male  24.0      0      0            PC 17593   79.2000          B86
140  female   NaN      0      2                2678   15.2458          NaN
141  female  22.0      0      0              347081    7.7500          NaN
142  female  24.0      1      0    STON/O2. 3101279   15.8500          NaN
143    male  19.0      0      0              365222    6.7500          NaN
144    male  18.0      0      0              231945   11.5000          NaN
145    male  19.0      1      1          C.A. 33112   36.7500          NaN
146    male  27.0      0      0              350043    7.7958          NaN
147  female   9.0      2      2          W./C. 6608   34.3750          NaN
148    male  36.5      0      2              230080   26.0000           F2
149    male  42.0      0      0              244310   13.0000          NaN
150    male  51.0      0      0         S.O.P. 1166   12.5250          NaN
151  female  22.0      1      0              113776   66.6000           C2
152    male  55.5      0      0          A.5. 11206    8.0500          NaN
153    male  40.5      0      2            A/5. 851   14.5000          NaN
154    male   NaN      0      0           Fa 265302    7.3125          NaN
155    male  51.0      0      1            PC 17597   61.3792          NaN

    Embarked
0          S
1          C
2          S
3          S
4          S
5          Q
6          S
7          S
8          S
9          C
10         S
11         S
12         S
13         S
14         S
15         S
16         Q
17         S
18         S
19         C
20         S
21         S
22         Q
23         S
24         S
25         S
26         C
27         S
28         Q
29         S
..       ...
126        Q
127        S
128        C
129        S
130        C
131        S
132        S
133        S
134        S
135        C
136        S
137        S
138        S
139        C
140        C
141        S
142        S
143        Q
144        S
145        S
146        S
147        S
148        S
149        S
150        S
151        S
152        S
153        S
154        S
155        C

[156 rows x 11 columns]

In [65]:
sorted(titanic_train["Name"])[0:15]   # Check the first 15 sorted names

['Ahlin, Mrs. Johan (Johanna Persdotter Larsson)',
 'Allen, Mr. William Henry',
 'Andersson, Miss. Ellis Anna Maria',
 'Andersson, Miss. Erna Alexandra',
 'Andersson, Mr. Anders Johan',
 'Andersson, Mr. August Edvard ("Wennerstrom")',
 'Andreasson, Mr. Paul Edvin',
 'Andrew, Mr. Edgardo Samuel',
 'Arnold-Franchi, Mrs. Josef (Josefine Franchi)',
 'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
 'Attalah, Miss. Malake',
 'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)',
 'Barton, Mr. David John',
 'Bateman, Rev. Robert James',
 'Baxter, Mr. Quigg Edmond']

In [66]:
titanic_train["Name"].describe()

count                                 156
unique                                156
top       Andersson, Miss. Erna Alexandra
freq                                    1
Name: Name, dtype: object

In [14]:
#SMG
titanic_train["Sex"].describe()

count      156
unique       2
top       male
freq       100
Name: Sex, dtype: object

In [ ]:
print(titanic_train["Ticket"][0:15]) # Check the first 15 tickets

In [ ]:
titanic_train["Ticket"].describe()

In [ ]:
del titanic_train["Ticket"]        # Remove Ticket

In [ ]:
titanic_train["Cabin"][0:15]       # Check the first 15 tickets

In [ ]:
titanic_train["Cabin"].describe()  # Check number of unique cabins

In [ ]:
new_survived = pd.Categorical(titanic_train["Survived"])
new_survived = new_survived.rename_categories(["Died","Survived"])              

new_survived.describe()

In [ ]:
new_Pclass = pd.Categorical(titanic_train["Pclass"],
                           ordered=True)

new_Pclass = new_Pclass.rename_categories(["Class1","Class2","Class3"])     

new_Pclass.describe()

In [ ]:
titanic_train["Pclass"] = new_Pclass

In [ ]:
print(titanic_train["Pclass"])
new_Pclass

In [ ]:
titanic_train["Cabin"].unique()   # Check unique cabins

In [ ]:
#print(titanic_train["Cabin"])
char_cabin = titanic_train["Cabin"].astype(str) # Convert data to str

new_Cabin = np.array([cabin[0] for cabin in char_cabin]) # Take first letter

new_Cabin = pd.Categorical(new_Cabin)

new_Cabin.describe()
print(new_Cabin)

In [ ]:
titanic_train["Cabin"] = new_Cabin

In [ ]:
dummy_vector = pd.Series([1,None,3,None,7,8])

dummy_vector.isnull()

In [ ]:
missing = np.where(titanic_train["Age"].isnull() == True)
missing

In [ ]:
len(missing[0])

In [ ]:
index = np.where(titanic_train["Fare"] == max(titanic_train["Fare"]) )

titanic_train.loc[index]

In [ ]:
titanic_train["Family"] = titanic_train["SibSp"] + titanic_train["Parch"]

most_family = np.where(titanic_train["Family"] == max(titanic_train["Family"]))

titanic_train.ix[most_family]

In [6]:
import numpy as np
import pandas as pd

labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

print ("Labels:", labels)
print("My data:", my_data)
print("Dictionary:", d)

Labels: ['a', 'b', 'c']
My data: [10, 20, 30]
Dictionary: {'a': 10, 'b': 20, 'c': 30}

In [ ]:
pd.Series(data=my_data, index=labels)

In [ ]:
print ("\nHolding numerical data\n",'-'*25, sep='')
print(pd.Series(arr))

In [ ]:
print ("\nHolding text labels\n",'-'*20, sep='')
print(pd.Series(labels))

In [ ]:
print ("\nHolding functions\n",'-'*20, sep='')
print(pd.Series(data=[sum,print,len]))

In [ ]:
print ("\nHolding objects from a dictionary\n",'-'*40, sep='')
print(pd.Series(data=[d.keys, d.items, d.values]))

In [ ]:
ser1 = pd.Series([1,2,3,4],['CA', 'OR', 'CO', 'AZ'])
ser2 = pd.Series([1,2,5,4],['CA', 'OR', 'NV', 'AZ'])

In [ ]:
print ("\nIndexing by name of the item/object (string identifier)\n",'-'*56, sep='')
print("Value for CA in ser1:", ser1['CA'])
print("Value for AZ in ser1:", ser1['AZ'])
print("Value for NV in ser2:", ser2['NV'])

In [ ]:
print ("\nIndexing by number (positional value in the series)\n",'-'*52, sep='')
print("Value for CA in ser1:", ser1[0])
print("Value for AZ in ser1:", ser1[3])
print("Value for NV in ser2:", ser2[2])

In [ ]:
print ("\nIndexing by a range\n",'-'*25, sep='')
print ("Value for OR, CO, and AZ in ser1:\n", ser1[1:4], sep='')

print(ser1)

In [ ]:
ser1 = pd.Series([1,2,3,4],['CA', 'OR', 'CO', 'AZ'])
ser2 = pd.Series([1,2,5,4],['CA', 'OR', 'NV', 'AZ'])
ser3 = ser1+ser2

In [ ]:
print ("\nAfter adding the two series, the result looks like this...\n",'-'*59, sep='')
print(ser3)
print("\nPython tries to add values where it finds common index name, and puts NaN where indices are missing\n")

In [ ]:
print ("\nThe idea works even for multiplication...\n",'-'*43, sep='')
print (ser1*ser2)

In [ ]:
print ("\nOr even for combination of mathematical operations!\n",'-'*53, sep='')
print (np.exp(ser1)+np.log10(ser2))

In [7]:
from numpy.random import randn as rn
np.random.seed(101)
matrix_data = rn(5,4)
row_labels = ['A','B','C','D','E']
column_headings = ['W','X','Y','Z']

df = pd.DataFrame(data=matrix_data, index=row_labels, columns=column_headings)
print("\nThe data frame looks like\n",'-'*45, sep='')
print(df)

The data frame looks like
---------------------------------------------
          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
print("\nThe 'X' column\n",'-'*25, sep='')
print(df['X'])

In [ ]:
print("\nType of the column: ", type(df['X']), sep='')
print("\nThe 'X' and 'Z' columns indexed by passing a list\n",'-'*55, sep='')
print(df[['X','Z']])

In [ ]:
print("\nType of the pair of columns: ", type(df[['X','Z']]), sep='')
print ("\nSo, for more than one column, the object turns into a DataFrame")

In [ ]:
print("\nThe 'X' column accessed by DOT method (NOT recommended)\n",'-'*55, sep='')
print(df.X)

In [ ]:
print("\nA column is created by assigning it in relation to an existing column\n",'-'*75, sep='')
df['New'] = df['X']+df['Z']
df['New (Sum of X and Z)'] = df['X']+df['Z']
print(df)

In [ ]:
print("\nA column is dropped by using df.drop() method\n",'-'*55, sep='')
df = df.drop('New', axis=1) # Notice the axis=1 option, axis = 0 is default, so one has to change it to 1
print(df)

In [ ]:
df1=df.drop('A')
print("\nA row (index) is dropped by using df.drop() method and axis=0\n",'-'*65, sep='')
print(df1)

In [ ]:
print("\nAn in-place change can be done by making inplace=True in the drop method\n",'-'*75, sep='')
df.drop('New (Sum of X and Z)', axis=1, inplace=True)
print(df)

In [ ]:
### Selecting/indexing Rows
#* Label-based 'loc' method
#* Index (numeric) 'iloc' method

In [ ]:
print("\nLabel-based 'loc' method can be used for selecting row(s)\n",'-'*60, sep='')
print("\nSingle row\n")
print(df.loc['C'])

In [ ]:
print("\nMultiple rows\n")
print(df.loc[['B','C']])

In [ ]:
print("\nIndex position based 'iloc' method can be used for selecting row(s)\n",'-'*70, sep='')
print("\nSingle row\n")
print(df.iloc[2])

In [ ]:
print("\nMultiple rows\n")
print(df.iloc[[1,2]])

In [ ]:
#### Subsetting DataFrame

In [11]:
np.random.seed(101)
matrix_data = rn(5,4)
row_labels = ['A','B','C','D','E']
column_headings = ['W','X','Y','Z']
df = pd.DataFrame(data=matrix_data, index=row_labels, columns=column_headings)

In [12]:
print("\nThe DatFrame\n",'-'*45, sep='')
print(df)

The DatFrame
---------------------------------------------
          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [13]:
print("\nElement at row 'B' and column 'Y' is\n") 
print(df.loc['B','Y'])

Element at row 'B' and column 'Y' is

-0.8480769834036315

In [14]:
print("\nSubset comprising of rows B and D, and columns W and Y, is\n")
df.loc[['B','D'],['W','Y']]

Subset comprising of rows B and D, and columns W and Y, is

          W         Y
B  0.651118 -0.848077
D  0.188695 -0.933237

In [15]:
print("\nThe DataFrame\n",'-'*45, sep='')
print(df)

The DataFrame
---------------------------------------------
          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [16]:
print("\nBoolean DataFrame(s) where we are checking if the values are greater than 0\n",'-'*75, sep='')
print(df>0)

Boolean DataFrame(s) where we are checking if the values are greater than 0
---------------------------------------------------------------------------
       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [17]:
print("\n")
print(df.loc[['A','B','C']]>0)

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False

In [18]:
booldf = df>0
print("\nDataFrame indexed by boolean dataframe\n",'-'*45, sep='')
print(df[booldf])

DataFrame indexed by boolean dataframe
---------------------------------------------
          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [21]:
matrix_data = np.matrix('22,66,140;42,70,148;30,62,125;35,68,160;25,62,152')
row_labels = ['A','B','C','D','E']
column_headings = ['Age', 'Height', 'Weight']

In [22]:
df = pd.DataFrame(data=matrix_data, index=row_labels, columns=column_headings)
print("\nA new DataFrame\n",'-'*25, sep='')
print(df)

A new DataFrame
-------------------------
   Age  Height  Weight
A   22      66     140
B   42      70     148
C   30      62     125
D   35      68     160
E   25      62     152

In [23]:
print("\nRows with Height > 65 inch\n",'-'*35, sep='')
print(df[df['Height']>65])

Rows with Height > 65 inch
-----------------------------------
   Age  Height  Weight
A   22      66     140
B   42      70     148
D   35      68     160

In [24]:
booldf1 = df['Height']>65
booldf2 = df['Weight']>145

In [27]:
print("\nRows with Height > 65 inch and Weight >145 lbs\n",'-'*55, sep='')
print(df[(booldf1) & (booldf2)])

Rows with Height > 65 inch and Weight >145 lbs
-------------------------------------------------------
   Age  Height  Weight
B   42      70     148
D   35      68     160

In [35]:
print("\nDataFrame with only Age and Weight columns whose Height > 65 inch\n",'-'*68, sep='')
print(df[booldf1][['Age','Weight']])

DataFrame with only Age and Weight columns whose Height > 65 inch
--------------------------------------------------------------------
   Age  Weight
A   22     140
B   42     148
D   35     160

In [28]:
matrix_data = np.matrix('22,66,140;42,70,148;30,62,125;35,68,160;25,62,152')
row_labels = ['A','B','C','D','E']
column_headings = ['Age', 'Height', 'Weight']

In [29]:
df = pd.DataFrame(data=matrix_data, index=row_labels, columns=column_headings)
print("\nThe DataFrame\n",'-'*25, sep='')
print(df)

The DataFrame
-------------------------
   Age  Height  Weight
A   22      66     140
B   42      70     148
C   30      62     125
D   35      68     160
E   25      62     152

In [36]:
print("\nAfter resetting index\n",'-'*35, sep='')
print(df.reset_index())

After resetting index
-----------------------------------
  index  Age  Height  Weight Profession
0     A   22      66     140    Student
1     B   42      70     148    Teacher
2     C   30      62     125   Engineer
3     D   35      68     160     Doctor
4     E   25      62     152      Nurse

In [39]:
print("\nAfter resetting index with 'drop' option TRUE\n",'-'*45, sep='')
print(df.reset_index(drop=True))

After resetting index with 'drop' option TRUE
---------------------------------------------
   Age  Height  Weight Profession
0   22      66     140    Student
1   42      70     148    Teacher
2   30      62     125   Engineer
3   35      68     160     Doctor
4   25      62     152      Nurse

In [40]:
print("\nAdding a new column 'Profession'\n",'-'*45, sep='')
df['Profession'] = "Student Teacher Engineer Doctor Nurse".split()
print(df)

Adding a new column 'Profession'
---------------------------------------------
   Age  Height  Weight Profession
A   22      66     140    Student
B   42      70     148    Teacher
C   30      62     125   Engineer
D   35      68     160     Doctor
E   25      62     152      Nurse

list

In [41]:
print("\nSetting 'Profession' column as index\n",'-'*45, sep='')
print (df.set_index('Profession'))

Setting 'Profession' column as index
---------------------------------------------
            Age  Height  Weight
Profession
Student      22      66     140
Teacher      42      70     148
Engineer     30      62     125
Doctor       35      68     160
Nurse        25      62     152

In [43]:
#multi-indexing
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))

In [44]:
print("\nTuple pairs after the zip and list command\n",'-'*45, sep='')
print(hier_index)

Tuple pairs after the zip and list command
---------------------------------------------
[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [45]:
hier_index = pd.MultiIndex.from_tuples(hier_index)
print("\nIndex hierarchy\n",'-'*25, sep='')
print(hier_index)

Index hierarchy
-------------------------
MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [46]:
print("\nIndex hierarchy type\n",'-'*25, sep='')
print(type(hier_index))

Index hierarchy type
-------------------------
<class 'pandas.core.indexes.multi.MultiIndex'>

In [47]:
print("\nCreating DataFrame with multi-index\n",'-'*37, sep='')
np.random.seed(101)
df1 = pd.DataFrame(data=np.round(rn(6,3),2), index= hier_index, columns= ['A','B','C'])
print(df1)

Creating DataFrame with multi-index
-------------------------------------
         A     B     C
G1 1  2.71  0.63  0.91
   2  0.50  0.65 -0.32
   3 -0.85  0.61 -2.02
G2 1  0.74  0.53 -0.59
   2  0.19 -0.76 -0.93
   3  0.96  0.19  1.98

In [48]:
print("\nSubsetting multi-index DataFrame using two 'loc' methods\n",'-'*60, sep='')
print(df1.loc['G2'].loc[[1,3]][['B','C']])

Subsetting multi-index DataFrame using two 'loc' methods
------------------------------------------------------------
      B     C
1  0.53 -0.59
3  0.19  1.98

In [49]:
print("\nNaming the indices by 'index.names' method\n",'-'*45, sep='')
df1.index.names=['Outer', 'Inner']
print(df1)

Naming the indices by 'index.names' method
---------------------------------------------
                A     B     C
Outer Inner
G1    1      2.71  0.63  0.91
      2      0.50  0.65 -0.32
      3     -0.85  0.61 -2.02
G2    1      0.74  0.53 -0.59
      2      0.19 -0.76 -0.93
      3      0.96  0.19  1.98

In [ ]:
#cross tabulation like pivot table

In [50]:
print("\nGrabbing a cross-section from outer level\n",'-'*45, sep='')
print(df1.xs('G1'))

Grabbing a cross-section from outer level
---------------------------------------------
          A     B     C
Inner
1      2.71  0.63  0.91
2      0.50  0.65 -0.32
3     -0.85  0.61 -2.02

In [52]:
print("\nGrabbing a cross-section from inner level (for all outer levels)\n",'-'*65, sep='')
print(df1.xs(2,level='Inner'))

Grabbing a cross-section from inner level (for all outer levels)
-----------------------------------------------------------------
          A     B     C
Outer
G1     0.50  0.65 -0.32
G2     0.19 -0.76 -0.93